
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
  //@import 'font-awesome';
@import 'box-sizing';
@import 'variables';

body {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}
