$gutter: 1rem;
$button-gray: #ddd;
$button-green: #80cbc4;
$header-bar-blue: #00bbd3;
$title-white: #fff;
$regular-text: rgba(255, 255, 255, 0.6);
$placeholder-text: rgba(255, 255, 255, 0.4);
$green-text: #92cbc5;
$button-text-gray: #1c1c1c;
$app-background: #282828;
$base-font-size: 16px;
$base-line-height: 24px;
