$gutter: 1rem;

$Button-Grey: #ddd;
$Button-Green: #80cbc4;
$Header-Bar-Blue: #00bbd3;
$Title-White: #fff;
$Regular-Text: rgba(255, 255, 255, 0.6);
$Placeholder-Text: rgba(255, 255, 255, 0.4);
$Green-Text: #92cbc5;
$Button-Text-Grey: #1c1c1c;

$Font-Family: Roboto;
$Icon-Font: font-awesome;
$Base-Font-Size: 16px;
$Base-Line-Height: 24px;
