<div class="app">
  <ul class="app-list">
    #
    {{#each model as |value|}}


      {{#link-to 'detail' value._id }}
        <li class="app-list__item divider">
          Here is some text.
          <p class="app-list__item-date">{{value.runDate}}</p>
          <p class="app-list__item-time">{{value.runTime}}</p>
        </li>
      {{/link-to}}
    {{/each}}
  </ul>

  {{outlet}}

</div>
{{#link-to 'new-run'}}
  <i class="fa fa-plus" aria-hidden="true"></i>
{{/link-to}}
